---
import ContactPage from "src/components/ContactPage.astro";
---

<ContactPage
  locale="en"
  summary="Feel free to reach out to me for asking some questions, doing collaboration together, and (of course) offering a job. My contact is available in the website."
>
  <p
    class="text-lg sm:text-2xl leading-7 sm:leading-9 sm:text-balance mb-6 sm:mb-8"
  >
    Feel free to reach out to me for asking some questions, doing collaboration
    together, and (of course) offering a job.
  </p>

  <p class="text-lg sm:text-2xl leading-7 sm:leading-9 sm:text-balance">
    Send me your message to one of these channels:
  </p>
</ContactPage>
