---
import ContactPage from "src/components/ContactPage.astro";
---

<ContactPage
  locale="id"
  summary="Jangan sungkan untuk menghubungi saya kalau ada pertanyaan, ingin diskusi, mau colab bareng, dan mau menawarkan job. Kontak saya ada di website."
>
  <p
    class="text-lg sm:text-2xl leading-7 sm:leading-9 sm:text-balance mb-6 sm:mb-8"
  >
    Jangan sungkan untuk menghubungi saya kalau ada pertanyaan, ingin diskusi,
    mau colab bareng, dan (tentu saja) mau menawarkan job.
  </p>

  <p class="text-lg sm:text-2xl leading-7 sm:leading-9 sm:text-balance">
    Hubungi saya melalui platform-platform berikut:
  </p>
</ContactPage>
