---
import { formatDate } from "src/utils/date";
import type { CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<"notes">;
  locale: "en" | "id";
}

const { entry, locale } = Astro.props;

const noteLink = `/${locale}/notes/${entry.slug}/`;
---

<article class="bg-gray-200 rounded-lg p-6 h-full">
  <a href={noteLink} class="group">
    <aside class="mb-2">
      <time
        datetime={formatDate(entry.data.published_date, locale)}
        class="text-sm text-gray-600"
      >
        {formatDate(entry.data.published_date, locale)}
      </time>
    </aside>
    <h2 class="font-sans-title text-lg sm:text-xl group-hover:underline">
      {entry.data.title}
    </h2>
  </a>
</article>
